body{
    background-color: #68a;

}
h1 {
    padding: 20px;
    color: #ccc
}
p {
    font-size: 18pt;
    text-align: center;
}
span{
}
header{
    height: 20%;
    width: 80%;
    text-align: center;
    padding: 60px;
}

div{
    height: 60%;
    width: 80%;
}